SECRET_KEY=your-super-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgresql://lumos_user:secure_password@localhost:5432/lumos_db

PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=Ad8U43h3NPoniQwgp8rQZdgpHUFuyzuvBXIDN6odr4oLG4wCn2Fo-OsoqKK76ua0iz6xnO-4lKLmRVXk
PAYPAL_CLIENT_SECRET=EHuizkslSnQU4VzcsMpRXAe9rr352u_DsUKNrP-m7fwGhFDtXjwyzX3VEJwLzMVlVOUkap99JaPSzVYc

INTERSEND_API_KEY=your-intersend-api-key
INTERSEND_SECRET=your-intersend-secret

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=warenodhiambo2@gmail.com
EMAIL_HOST_PASSWORD=sgbt wzwq efmm gfwt

REDIS_URL=redis://localhost:6379/0

AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=us-east-1